@charset "UTF-8";

body {
    background-image: linear-gradient(to right, rgb(252, 252, 252), rgba(90, 90, 97, 0.158), rgba(34, 185, 160, 0.288));
}

/*Texto da página*/
#txtapps {
  margin-top: -120px;
  margin-bottom: 140px;
  margin-left: 35px;
  margin-right: 20px;
  font-size: 20px;
  font-family: "Roboto",sans-serif;
}

#conteudo {
    margin-top: -120px;
    margin-left: 35px;
    margin-right: 20px;
    font-size: 20px;
    font-family: "Roboto",sans-serif;
}

/* Botões de links */
.dropbtn {
    background-color: rgba(74, 74, 87, 0.644);
    color: white;
    padding: 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 250px;
    border-radius: 5px;
    margin-top: 5px;
  }


@media (min-width: 320px) {
  .dropbtn {
    width: 250px;
  }
}

@media (min-width: 360px) {
  .dropbtn {
    width: 290px;
  }
}

@media (min-width: 411px) {
  .dropbtn {
    width: 320px;
  }
}

/* Botões desktop */
@media (min-width: 1024px) {
  #celular {
    position: absolute;
    margin-left: 350px;
  }
}

@media (min-width: 1024px) {
  #foto {
    position: absolute;
    margin-left: 20px;
  }
}
  
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 35px;
}

.dropdown-content {
  display: none;
  background-color: #0c99eb;
  font-size: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-align: center;
  z-index: 1;
}

.dropdown-content a {
  border-style: solid;
  border-bottom-width: 1px;
  border-top-width: 0;
  border-right-width: 0px;
  border-left-width: 0;
  color: rgb(250, 248, 248);
  padding: 18px 25px;
  text-decoration: none;
  display: block;
  width: 200px;
}

@media (min-width: 360px) {
  .dropdown-content a  {
    padding: 18px 45px;
  }
}

@media (min-width: 411px) {
  .dropdown-content a  {
    padding: 18px 60px;
  }
}

.dropdown-content a:hover {background-color: #4386a0e3}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color:  rgba(90, 90, 97, 0.158);
}
/* Footer */
.footer {
  font-family: sans-serif;
  text-align: center;
  margin-top: 100px;
  font-size: 15px;
}

@media (min-width: 1024px) {
  .footer {
    position: absolute;
    margin-top: 300px;
    margin-left: 600px;
  }
}