@charset "UTF-8";

body {
    background-image: linear-gradient(to right, rgb(252, 252, 252), rgba(90, 90, 97, 0.158), rgba(34, 185, 160, 0.288));
}

/*Texto da página*/
#conteudo {
    margin-top: -120px;
    margin-left: 35px;
    margin-right: 20px;
    font-size: 20px;
    font-family: "Roboto",sans-serif;
}

/* Botões de links */
.dropbtn {
    background-color: rgba(74, 74, 87, 0.644);
    color: white;
    padding: 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 250px;
    border-radius: 5px;
  }

  
@media (min-width: 320px) {
  .dropbtn {
    width: 250px;
  }
}

@media (min-width: 360px) {
  .dropbtn {
    width: 290px;
  }
}

@media (min-width: 411px) {
  .dropbtn {
    width: 320px;
  }
}
  
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 35px;
}

.dropdown-content {
  display: none;
  background-color: #0c99eb;
  min-width: 100px;
  font-size: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(250, 248, 248);
  padding: 20px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {background-color: #4386a0c0}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color:  rgba(90, 90, 97, 0.158);
}
/* Footer */
.footer {
  font-family: sans-serif;
  text-align: center;
  margin-top: 100px;
  font-size: 18px;
}