@charset "UTF-8";

body {
    background-image: linear-gradient(to right, rgb(252, 252, 252), rgba(90, 90, 97, 0.158), rgba(34, 185, 160, 0.288));
}

#conteudo {
    margin-top: -120px;
    margin-left: 35px;
    margin-right: 20px;
    font-size: 20px;
    font-family: "Roboto",sans-serif;
}

#pf {
    width: 295px;
    height: 30px;
    border-radius: 5px;
}

#pf::-webkit-input-placeholder{
    color:rgba(145, 135, 135, 0.808);
    font-style: normal;
    font-size: 20px;
}